@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --grey : #8C9AAE;
    --lightgrey : #C8BED1;
    --orange : #EED0D6;
    --pink : #FEE5FA;
    --purple : #D9DFFF;
    --blue : #284E7B;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--lightgrey);
}
body::-webkit-scrollbar {
    display: none;
}


h1 {
    font-size: 1.5rem;
    text-align: center;
}

.main {
    position: relative;
}

.nav {
    position: absolute;
    bottom: 0;
    left: calc(50% - 5rem);
    z-index: 1;
    scale: 1.5;
    height: 2rem;
    padding: 0 1rem;
    background-color: var(--grey);
    border-radius: 5rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin-top: .25rem;
}




/* Start Header */


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    padding: .5rem;
    width: 100%;
    background-color: var(--grey);
}

.CheckSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* EnD */




.header__checkbox {
    margin: 1rem;
    color: white;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    font-size: 1.2rem;
}

.checkbox li {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}


.checkbox input {
    scale: 2;
    cursor: pointer;
}





.header__select {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    margin: 0rem 1rem 1rem;
    font-size: 1.2rem;
    color: white;
}

#selectmmi {
    background-color: var(--lightgrey);
    border: 2px solid white;
    color: white;
}

#selectmmi:hover {
    cursor: pointer;
}




.header__searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header__searchbar input {
    padding: .5rem 1rem;
    border: 2px solid white;
    background-color: var(--lightgrey);
    color: white;
    font-size: 1rem;
}

.header__searchbar label button{
    padding: .25rem .5rem;
    border: 2px solid white;
    background-color: var(--lightgrey);
    color: white;
    font-size: 1rem;
}

.header__searchbar label button:hover {
    border: 2px solid var(--lightgrey);
    background-color: white;
    color: var(--lightgrey);

}




.header__view {
    margin: 2rem;
}

.view {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;   
}

.view button {
    padding: .25rem .5rem;
    border: 2px solid white;
    background-color: var(--lightgrey);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.view button:hover {
    border: 2px solid var(--lightgrey);
    background-color: white;
    color: var(--lightgrey);

}

#calendar {
    margin: .5rem;
}


@media screen and (min-width : 500px) {
    .view {
        flex-direction: row;
        align-items: center;
 
    }
}



@media screen and (min-width : 768px) {
    #calendar {
        position: relative;
        width: 75vw;
    }
    .main {
        display: flex;
    }
    header {
        display: flex;
        flex-direction: column;
        margin: .5rem;
        padding: .5rem;
        width: 25vw;
        height: 100vh;
        background-color: var(--grey);
    }

    .titleCheckSelect {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    h1 {
        font-size: 3rem;
    }

    .nav {
        bottom: -5rem;
        scale: 2;

    }




}