nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.checkbox {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    list-style: none;   
}

.view {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    list-style: none;   
}